@import 'colors';

/************************
 * NAUTILUS (aka Files) *
 ************************/
.nautilus-window,
.nautilus-window notebook,
.nautilus-window notebook > stack {
  background: $base_color;
}

.nautilus-window notebook > header.top tabs,
.nautilus-window notebook > header.bottom tabs {
  padding-left: 0;
  padding-right: 0;
}

.nautilus-window notebook > header.left tabs,
.nautilus-window notebook > header.right tabs {
  padding-top: 0;
  padding-bottom: 0;
}

/* Floating status bar */
.floating-bar {
    background-color: $base_color;
    border-style: solid;
    border-color: $borders_color;
    &.left {
        border-radius: 0 3px 0 0;
        border-width: 1px 1px 0 0;
    }
    &.right {
        border-radius: 3px 0 0 0;
        border-width: 1px 0 0 1px;
    }
    &:backdrop {
        background-color: $backdrop_bg_color;
        border-color: $backdrop_borders_color;
    }
    button { padding: 0px; }
}

/* Searchbar */
.nautilus-window stack searchbar {
    box-shadow: none;
    background-color: lighten($bg_color,20%);
    border-bottom-color: lighten($bg_color,5%);
}

.nautilus-window stack:only-child searchbar {
    background-color: darken($base_color,2%);
    border-bottom-color: darken($base_color,8%);
}

/* View */
.nautilus-list-view {
    .view {
        border-bottom: 1px solid $bg_color;
        /* Hide superfluous treeview drop target indication */
        &.dnd { border-style: none; }
    }
}

/*********
 * Geary *
 *********/
.conversation-frame .view.cell {
    background-color: $base_color;
}

.conversation-frame .view.cell:selected,
.conversation-frame .view.cell:selected:focus {
    background-color: $selected_bg_color;
}

/********
 * Nemo *
 ********/

.nemo-window {
    
    .nemo-places-sidebar.frame { border-width: 0; }

    .sidebar {
        .view, row {
            background-color: transparent;
            color: $fg_color;

            &.cell:selected {
                border-top: 1px solid darken($sidebar_selected_bg_color, 10%);
                border-bottom: 1px solid lighten($sidebar_selected_bg_color, 5%);
                background-color: $sidebar_selected_bg_color;
                color: $selected_fg_color;
            }
        }
    }
}
